# =============================================================================
# ENVIRONMENT CONTROL PANEL (Centralized Variables - Global Standard)
# =============================================================================

# You can copy this file to .env and fill in the actual values for your staging and production environments. 
# This serves as a single source of truth for all critical variables used across the Ansible playbooks, 
# ensuring consistency and ease of maintenance. Do not commit your actual  
# .env file with sensitive information to version control.

# Or cou can run make create-env-file from CLI.

# --- GLOBAL SECURITY SETTINGS ---
# The custom secure port where the SSH daemon will be moved to bypass automated bot scans
CUSTOM_SSH_PORT=2222
# The dedicated administrator username that will be provisioned with passwordless sudo
ANSIBLE_SUDO_USER=admin_user

# --- STAGING (LOCAL LABORATORY) SETTINGS ---
# Local Vagrant target private SSH key filename (expected inside ~/.ssh/)
STAGING_SSH_KEY_NAME=id_ed25519_server
# Local sandbox virtual machine host-only IP address
STAGING_SERVER_IP=192.168.56.10
# Initial unhardened fallback root password used to inject the public key into the sandbox
STAGING_ROOT_PASSWORD=your_staging_temporary_root_password

# --- PRODUCTION (LIVE SERVER) SETTINGS ---
# Production target private SSH key filename (expected inside ~/.ssh/) - guard this key closely
PRODUCTION_SSH_KEY_NAME=id_ed25519_prod_real
# The public IPv4 address of your live remote server (e.g., Contabo instance IP)
PRODUCTION_SERVER_IP=your_live_server_ip_address
# The initial complex temporary root password received from your cloud provider via email
PRODUCTION_ROOT_PASSWORD=your_live_server_initial_temporary_root_password