[defaults]
roles_path = ./roles
inventory = ./inventories/staging
host_key_checking = False
allow_broken_conditionals = True

# Configure Ansible to write temporary files to the current user's home directory instead of /tmp
remote_tmp = ~/.ansible/tmp